body {
    cursor: url(/images/smile.png);
    background-color: #FAF6EB;
}
a.topLink:link, a.topLink:visited {
    color: #1f1f1f;
    text-decoration: none;
}
a.topLink:hover {
    color: #3141C4;
    text-decoration: none;
}
a.topLink:active {
    color: #1f1f1f;
}
a.topLink1:link, a.topLink1:visited {
    color: #3141C4;
    text-decoration: none;
}
a.topLink1:hover {
    color: #3141C4;
    text-decoration: none;
}
a.topLink1:active {
    color: #3141C4;
}
.topNav {
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    margin: 31px 10%;
    font-size: 28px;
    font-weight: 500;
}
.navTitle {
    display: flex;
    width: 74%;
    color: #1F1F1F;
    justify-content: center;
}
.navLinksLeft {
    display: flex;
    width: 13%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 19px;
    float: left;
}
.navLinksRight {
    display: flex;
    width: 13%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 19px;
    justify-content: space-between;
}
ul {
    list-style: none;
    padding-left: 0;
}​
.aboutHeading, .aboutHeadingBlue {
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    font-size: 45px;
    font-weight: 400;
    display: inline;
}
.aboutSection {
    margin: 0px 10%;
    padding-top: 70px;
    padding-bottom: 70px;
}
.aboutHeading {
    color: #1f1f1f;
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    font-size: 45px;
    font-weight: 400;
    display: inline-block;
}
.aboutMe {
    display: inline-block;
    max-width: 60%;
}
.aboutHeadingBlue {
    color: #3141C4;
    margin-left: -47px;
}
.workCurrent {
    color: #3141C4;
}
#howdy {
    height: 380px;
    display: inline-block;
    vertical-align: super;
    float: right;
}
.text {
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
    color: #1f1f1f;
    font-size: 19px;
    line-height: 1.5;
}
#pink-scribble {
    position: relative;
    top: -40px;
    margin-left: 350px;
}

.subHeading {
    display: flex;
    margin: 0px 10%;
    font-family: 'Josefin Sans', sans-serif;
    color: #1F1F1F;
    font-size: 19px;
    font-weight: 400;
}
.itemNumber {
    font-family: 'Josefin Sans', sans-serif;
    color: #1f1f1f;
    font-size: 21px;
    font-weight: 400;
}
.workListing {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 1 /2;
    justify-self: start;
    align-self: start;
}
.workListing-2 {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 1 /2;
    justify-self: start;
    align-self: start;
    padding-top: 20px;
}
.workListing-3 {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 1 /2;
    justify-self: start;
    align-self: start;
}
.item-01 {
    justify-content: flex-start;
    margin-left: 10%;
    padding-right: 15px;
}
.itemTitle {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    align-self: center;
    justify-self: start;
}
h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 16px;
}
#aboutItem {
    margin-top: 10px;
    width: 482px;
}
#descGrid {
    margin: 0px 10%;
    margin-top: 2px;
    display: grid;
    grid-template-rows: 110px 120px;
    grid-template-columns: 1% 42% 67%;
    grid-template-areas:
    "fr img itemTitle"
    "fr img desc"
    ;
  }
.descGridArea {
    display: grid;
  }
#desc {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: start;
}
#button {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: stretch;
    visibility: hidden;
}
#imageTelly {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    align-self: center;
    justify-self: center;
    padding-right: 8%;
}
#imageELO {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-self: center;
    align-self: end;
    padding-bottom: 15px;
}
#descGrid-2 {
    margin: 0px 10%;
    margin-top: 10px;
    display: grid;
    grid-template-rows: 90px 135px;
    grid-template-columns: 1% 42% auto;
    grid-template-areas:
    "fr img itemTitle"
    "fr img desc"
    ;
  }
.descGridArea-2 {
    display: grid;
  }
#imageUSDA {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-self: center;
    align-self: end;
    padding-left: 10px;
    margin-top: 15px;
}

.exploreButton {
    display: inline-block;
    background-color: #3141C4;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 17px;
    padding: 5px;
    width: 151px;
    height: 51px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0px;
    border-radius: 55px;
  }
  .exploreButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    color: #FFFFFF;
  }
.exploreButton span:after {
    content: url(/images/explore-arrow.png);
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    color: #FFFFFF;
  }
.button:hover span {
    padding-right: 25px;
  }
.button:hover span:after {
    opacity: 1;
    right: 0;
  }

.footer {
    display: grid;
    background: #0A8F69;
    height: 190px;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    grid-template-rows: 65px 65px 65px;
    grid-template-columns: 10% 43% 17% 20% 10%;
  }
.footerTitle {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }
.footerLinda {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 36px;
    color: #FAF6EB;
    font-weight: 500;
}
a.footerLink:link, a.footerLink:visited {
    color: #FAF6EB;
    text-decoration: none;
  }
a.footerLink:hover {
    color: #F1BB26;
    text-decoration: none;
  }
a.footerLink:active {
    color: #FAF6EB;
    text-decoration: underline;
  }
.email {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
  }
p.footHead {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 23px;
    color: #FAF6EB;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 18px;
  }
p.footSub {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 17px;
    color: #FAF6EB;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 10px;
}
.social {
    grid-row: 2 / 3;
    grid-column: 4 / 5;
  }
.preloader {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 100000;
    background-color: white;
    top: 0;
    display: flex;
    align-items: center;
  }
.preloader img {
    transition: all;
    width: 150px;
    margin: 0 auto;
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    /* transform: rotate(8deg); */
    /* transform: rotate(0.3rad);/ */
    /* transform: rotate(3grad); */ 
    /* transform: rotate(.03turn);  */
  }
  @keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}